<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611428037433-ke7a2g2gqvugk421ior8t4qruc5rq4pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611428037433-ke7a2g2gqvugk421ior8t4qruc5rq4pv</string>
	<key>API_KEY</key>
	<string>AIzaSyBpofWHiEw8Bi6FCY2nLUtZR8wxT86s--s</string>
	<key>GCM_SENDER_ID</key>
	<string>611428037433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.maryland.cmsc436.spring2020.openTok</string>
	<key>PROJECT_ID</key>
	<string>navpractice-8aa4b</string>
	<key>STORAGE_BUCKET</key>
	<string>navpractice-8aa4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611428037433:ios:9e53d5edb4e3798176aee8</string>
	<key>DATABASE_URL</key>
	<string>https://navpractice-8aa4b.firebaseio.com</string>
</dict>
</plist>